.title {
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.user-info {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.field {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

span {
  display: block;
  margin-top: 5px;
}
